:root{
    --background: 180deg, #FFFFFF;
    --color_all: #FF984E;
    --text_color: #848484;
    --form_background: #FFFFFF;
    --border_color: none; 
    --switch_bg_color: #FFFFFF;
    --switch_bg_color_enabled: rgb(104, 104, 104);
    --switch_bg_color_disabled: #9c9c9c;
  }

  

#th, #td{
    border: 2px solid var(--color_all);
    text-align: center;
    width: 44rem;
    height: 3.1rem;
    overflow: hidden;
}

#th{
    color: #FFFFFF;
    background-color: #FF984E;
    border-radius: 0px;
    border: none;
}

.tb_ini{
    position: relative;
    right: 10px;
}
.i2{
    position: relative;
    right: 20px;
}
.i3{
    position: relative;
    right: 5px;
}

#table{
    table-layout: fixed;
    table-layout: auto;
    display: grid;
    border-collapse: collapse;
    color: var(--text_color);
    width: 95%;
    height: 55ch;
    border-radius: 2px;
    background: var(--form_background);
    margin: 20px;
    overflow: hidden;
    overflow-x: auto;
}

*{
    font-size: 18px;
    font-family: "Poppins", sans-serif;
}

.corpo{
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
    background: linear-gradient(var(--background));
    height: 495px;
}

#body {
    margin: 0px;
    padding: 0px;
    background: linear-gradient(var(--background));
    height: 100vh;
    overflow: auto;
}

.botaoz{
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.10));
    cursor: pointer;
    background-color: #FF984E;
    height: 3rem;
    width: 20rem;
    border-radius: 44px;
    font-size: 24px;
    transform: translateX(40%);
}

.center{
    outline: none;
    margin-bottom: 5%;
    border: 1px solid var(--form);
    text-align: center;
    padding: 30px 26px;
    color: #FFFFFF;
  }

.tb_final{
    border-top-right-radius: 8px;
    border-right: none;
}

.tb_ini{
    border-top-left-radius: 8px;
    border-left: none;
}

.add_fun{
    position: relative;
    top: 10px;
    font-size: 22px;
    color: white;
}

.botao_class .textz{
    position: relative;
    top: 15px;
    font-size: 22px;
}

.botao_class{
    display: flex;
    gap: 50%;
    
}
#bVoltar{
    transform: translateX(5%);
}
.Carrinho{
    border-bottom: 1px;
    border-top-width: 0px;
    font-size: 30px;
    text-align: center;
    margin-left: 4rem;
    font-family: "Poppins", sans-serif;
}

.delete{
    width: 25px;
    height: 30px;
    border: none;
    cursor: pointer;
    background-image: url(../imagens/remove.png);
    background-size: cover;
    background-size: 25px;
    background-repeat: no-repeat;
    background-color: transparent;
    position: absolute;
    left: 84%;
    transform: translateY(0.5rem);
    transition: all 100ms;
    z-index: 999;
}
.modify{
    width: 25px;
    height: 30px;
    border: none;
    cursor: pointer;
    background-image: url(../imagens/pen.png);
    background-size: cover;
    background-size: 25px;
    background-repeat: no-repeat;
    background-color: transparent;
    position: absolute;
    left: 72%;
    transform: translateY(0.5rem);
    transition: all 100ms;
    z-index: 999;
}
.delete:hover{
    background-image: url(../imagens/remove_filled.png);
    background-size: 26px;
}
.modify:hover{
    background-image: url(../imagens/pen_filled.png);
    background-size: 26px;
}

.cont{
    position: relative;
    left: 20px;
    bottom: 5px;
}
.hidden {
    display: none;
  }
  
  .pagination-container {
    width: calc(100% - 2rem);
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    padding: 1rem 0;
    justify-content: center;
  }
  
  .pagination-number,
  .pagination-button{
    font-size: 1.1rem;
    background-color: transparent;
    border: none;
    margin: 0.25rem 0.25rem;
    cursor: pointer;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: .2rem;
  }
  
  .pagination-number:hover,
  .pagination-button:not(.disabled):hover {
    background: #fff;
  }
  
  .pagination-number.active {
    color: #fff;
    background: var(--color_all);
  }

  .pagination-number.active:hover {
    color: #fff;
    background: rgb(233, 136, 67);
  }

  #next-button, #prev-button{
      color: #848484;
  }
  #next-button:hover, #prev-button:hover{
      color: var(--color_all);
  }

  