<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./attCliente.css">
    <script src="../atualizarCliente.js"></script>
    <title>Atualizar Cliente</title>
</head>

<%- include('../views/navbar') -%>


<body>
    <div class="cad">
        <form action="">
            <input class="texto" type="text" placeholder="    NOME"id="nome">
            <input class="texto" type="number" placeholder="   CPF" id="cpf">
            <input class="texto" type="number" placeholder="   Contato" id="ctt">
        </form>
        <button onclick="attCliente()">Atualizar</button>
        <div class="send" onclick="attCliente()">Atualizar</div>
    </div>
</body>
</html>