<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./cadastro_produtos.css">
    <script src="./produto.js"></script>
    <title>CadastroProdutos</title>
</head>
<% if(urid.Tipo=="ofoda"){ %>
    <%- include('../views/navbar') -%>
    <% }else{%>
    <%- include('../views/navbarVendedor') -%>
    <% } %> 
<body>
        <span id="titu" class="tit">Cadastro Produto</span>
    <div class="cad" id="cadV">
        <form>
            <div class="column">
                <text>Nome:</text>
                <input class="texto" type="text"id="nome">
            </div>
            <div class="column">
                    <text>Fornecedor:</text>
            <input class="texto" type="text"id="fornecedor">
            </div>
            <div class="column">
                    <text>Valor:</text>
            <input class="texto" type="number"id="valor">
            </div>
            <div class="column">
                    <text>Quantidade:</text>
            <input class="texto" type="number" id="quantidade">
            </div>
            <div class="send" onclick="Cadastrar()">Cadastrar produto</div>
        </form>
    </div>
</body>
</html>