<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./cadastro_cliente.css">
    <script src="../clienteCAD.js"></script> 
    <title>Cadastro cliente</title>
</head>

<% if(urid.Tipo=="ofoda"){ %>
    <%- include('../views/navbar') -%>
    <% }else{%>
    <%- include('../views/navbarVendedor') -%>
    <% } %> 
<body>
    <span class="tit">Cadastro Cliente</span>
    <div class="cad">
        <form>
            <div class="column">
                    <text>Nome:</text>
            <input class="texto" type="text"id="nome">
            </div>
            <div class="column">
                    <text>CPF:</text>
            <input class="texto" type="number"id="cpf">
            </div>
            <div class="column">
            <text>Contato:</text>
            <input class="texto" type="number" id="cttC">
            </div>
            <div class="send" onclick="cadCliente()">Cadastrar cliente</div>
        </form>
        
    </div>
</body>
</html>