
<html>
    <link rel="stylesheet" href="../tela_inicial/css/bootstrap.css">
    <script src="../tela_inicial/js/bootstrap.js"></script>
    <link rel="stylesheet" href="navbar.css">
  <header class="navbar">
          <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/logout">            
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" id="nav-item">
                    Realizar Vendas
                  </a>
                  <ul class="dropdown-menu" class="dropdown-menu1">
                    <li><button class="item1"onclick="window.location.href='telaVenda'">Realizar vendas</button></li>
                    <li><button class="item2"onclick="window.location.href='visualizarVenda'">Relatório de vendas</button></li>
                    <li><button class="item3">Vendedores</button></li>
                  </ul>
                </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" id="nav-item">
                     Clientes
                  </a>
                  <ul class="dropdown-menu">
                    <li><button class="item1" onclick="window.location.href='CadastrarCliente'">Cadastrar clientes</button></li>
                    <li><button class="item2" onclick="window.location.href='visualizarCliente'">Visualizar clientes</button></li>
                  </ul>
                </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" id="nav-item">
                     Produtos
                  </a>
                  <ul class="dropdown-menu">
                    <a href="/CadastrarProduto"><li><button class="item1" >Cadastrar produtos</button></li></a>
                    <a href="/visualizarProduto"><li><button class="item2" >Visualizar produtos</button></li></a>
                    <li><button class="item3">Estoque</button></li>
                  </ul>
                </li>
              <li class="nav-item dropdown">
                  <a class="nav-link" role="button"  aria-expanded="false" href="/visualizarFun">
                      Funcionários
                  </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
        <div class="user">Bem vindo <%=urid%></div>
        <div class="logout"></div>
      </header>
  </html>