<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../scr/navbar/navbar.css">
    <script src="../scr/navbar/navbar.js"></script>
    <title>Document</title>
</head>
<header class="navbar">
    
    <div class="icon"></div>

    <div class="vendas">
        <button onclick="dropDown()" class="dropbtn">Vendas V</button>
        <div id="myDropdown" class="dropdown-content">
          <a href="#home">Realizar venda</a>
          <a href="#about">Relatório de vendas</a>
        </div>
      </div>

      <div class="compras">
        <button onclick="dropDown2()" class="dropbtn">Compras V</button>
        <div id="myDropdown2" class="dropdown-content2">
          <a href="#home">Realizar compra</a>
          <a href="#about">Visualizar produtos</a>
        </div>
      </div>
      
      <div class="cliente">
        <button onclick="dropDown3()" class="dropbtn">Clientes V</button>
        <div id="myDropdown3" class="dropdown-content3">
          <a href="#home">Cadastrar cliente</a>
          <a href="#about">Visualizar clientes</a>
        </div>
      </div>

      <div class="func">
        <a href="">Funcionários</a>
      </div>

    <div class="user">
        <span>Bem vindo, <%=urid%> 
    </div>

    <div class="logout"></div>
</header>
</html>



<!-- NAVBAR VENDEDOR

  <header class="navbar">
    
    <div class="icon"></div>

    <div class="vendas">
        <button onclick="dropDown()" class="dropbtn">Vendas V</button>
        <div id="myDropdown" class="dropdown-content">
          <a href="#home">Realizar venda</a>
          <a href="#about">Relatório de vendas</a>
        </div>
      </div>

    <div class="user">
        <span>Bem vindo, <%=urid%> 
    </div>

    <div class="logout"></div>
</header>


-->