<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./tela_cadastro.css">
    <script src="../usuarioCAD.js"></script>
    <title>Cadastro</title>
</head>

<% if(urid.Tipo=="ofoda"){ %>
<%- include('../views/navbar') -%>
<% }else{%>
<%- include('../views/navbarVendedor') -%>
<% } %> 

<body>
    <div class="center">
       
      <h1>Cadastrar Funcionário</h1>
      <form id="login" >
        <div class="txt_field">
          <input type="text" id="usuario" required>
          <span></span>
          <label>Nome</label>
        </div>
        <div class="txt_field">
          <input type="number" data-ls-module="charCounter" maxlength="11" id="cpf"required>
          <span></span>
          <label>CPF</label>
        </div>
        <div class="txt_field">
          <input type="number" data-ls-module="charCounter" maxlength="11" id="contato" required>
          <span></span>
          <label>Contato</label>
        </div>
        <div class="txt_field">
            <input type="password" id="senha"required>
            <span></span>
            <label>Senha</label>
        </div>
        <div class="txt_field">
            <input type="password" id="senhaC"required>
            <span></span> 
            <label>Confirmar Senha</label>
        </div>
        <div>
          <input type="checkbox" id="tipo">
          <span></span> 
          <label>Admin?</label>
        </div class="txt_field">  
        <input type="submit"  onclick="cadastrarUser()">
      </form>
    </div>

    <label class="switch">
      <input type="checkbox" checked>
      <span class="slider round"></span>
    </label>
  </body>
</html>