*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
*:focus {
    outline: 0;
}

:root{
    --background: 180deg, #FFFFFF;
    --color_all: #FF984E;
    --text_color: #848484;
    --form_background: #FFFFFF;
    --border_color: none; 
    --switch_bg_color: #FFFFFF;
  }

.cad{
    transform: translateY(10%);
    display: flex;
    align-items: center;
    flex-direction: column; 
    margin-top: 20px;
}

form{
    border: 2px solid var(--color_all);
    height: 8rem;
    width: 90%;
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem; 
}
/* form:hover{
    background-color: rgba(223, 223, 223, 0.295);
}
form:hover input{
    background-color: rgba(223, 223, 223, 0);
} */

input{
    position: relative;
    left: 50px;
    width: 250px;
    height: 32px;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-bottom: 2px solid #FF984E;
}
.remover_item{
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 4px;
    margin-right: 3rem;
    background-color: rgb(255, 77, 77);
    cursor: pointer;
    position: relative;
}
.remover_item::before{
    content: '';
    width: 25px;
    height: 1px;
    background-color: #fff;
    position: absolute;
    left: 11px;
    transition: all 200ms;
}
.remover_item::after{
    content: '';
    width: 25px;
    height: 1px;
    background-color: #fff;
    position: absolute;
    left: 11px;
    transition: all 200ms;
}
.remover_item:hover::before{
    transform: rotate(50deg);
}
.remover_item:hover::after{
    transform: rotate(-50deg);
}
.remover_item:hover{
    background-color: #fff;
}

span{
    font-size: 32px;
    margin-top: 12px;
    font-weight: lighter;
    color: #FF984E;
}
span:hover{
    cursor: pointer;
    color: rgb(230, 125, 51);
}

.send{
    width: 200px;
    height: 30px;
    position: relative;
    left: 2.5%;
    border-radius: 2px;
    background-color: #FF984E;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor: pointer;
    transition: all 100ms;
}
.send:hover{
    background-color: rgb(230, 125, 51);
}

.tit{
    cursor: default;
    font-size: 28px;
    font-weight: 700;
    color: #1919198e;
    position: relative;
    top: 20px;
    left: 5%;
}
.tit:hover{
    cursor: default;
    color: #1919198e;
}

.add{
    cursor: pointer;
    position: relative;
    right: 1.5%;
    top: 5px;
}
.add:hover{
    color: #111111;
}



/* FLOAT BUTTON */

.float_button{
    z-index: 999;
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    position: sticky;
    transform: translate(84rem, 550%);
}

#f_but {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 70px;
    height: 70px;
    background-color: var(--color_all);
    border-radius: 50%;

    position: sticky;
    transform: translate(0rem, 0rem);
}


#add{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 16px;
    font-weight: 700;
    /* transform: translate(2rem, 14.8rem); */
}

#confirm{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: lighter;
    font-size: 5px;
}

.btns{
    cursor: pointer;
}

.func_buttons{
    position: absolute;
    top: 1rem;
    z-index: -1;
    cursor: pointer;

    transition: all 350ms ease;
}

#f_but:checked ~ #add{
    position: absolute;
    top: -3.5rem;
}
#f_but:checked ~ #confirm{
    position: absolute;
    top: -7rem;
}

#t1{
    position: relative;
    top: 5px;
    font-size: 32px;
}

/*  */

