:root{
    --background: 180deg, #FFFFFF;
    --color_all: #FF984E;
    --text_color: #848484;
    --form_background: #FFFFFF;
    --border_color: none; 
    --switch_bg_color: #FFFFFF;
    --switch_bg_color_enabled: rgb(104, 104, 104);
    --switch_bg_color_disabled: #9c9c9c;
  }

#the, #td{
    border: 2px solid var(--color_all);
    text-align: center;
    width: 44rem;
    height: 3.03rem;
}

#the{
    color: #FFFFFF;
    background-color: #FF984E;
    border: none;
    border-radius: 1px;
}
.the{
    position: relative;
    left: 20px;
}
.thee{
    position: relative;
    left: 40px;
}
.theee{
    
    position: relative;
    left: 20px;
}

#table{
    table-layout: fixed;
    table-layout: auto;
    display: grid;
    border-collapse: collapse;
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.15));
    color: var(--text_color);
    width: 95%;
    height: 55ch;
    border-radius: 2px;
    background: var(--form_background);
    margin: 20px;
    overflow-x: auto;
}

*{
    font-size: 18px;
    font-family: "Poppins", sans-serif;
}

#cabeca{
    text-decoration: underline;
    border-collapse: collapse;
}

#corpo{
    overflow-y: auto;
    overflow-x: auto;
}

#tbody{
    margin: 0px;
    padding: 0px;
    background: linear-gradient(var(--background));
    height: 495px;
}

#body {
    margin: 0px;
    padding: 0px;
    background: linear-gradient(var(--background));
    height: 100vh;
    overflow: auto;
}


#center{
    outline: none;
    margin-bottom: 5%;
    border: 1px solid var(--form);
    text-align: center;
    padding: 30px 26px;
    color: #FFFFFF;
  }

.tb_final{
    border-top-right-radius: 8px;
    border-right: none;
}

.tb_ini{
    border-top-left-radius: 8px;
    border-left: none;
}

.botao_class h1{
    position: relative;
    top: 5px;
}

.botao_class{
    display: flex;
    gap: 50%;
    
}

.modify, .delete{
    border: none;
    background-color: var(--color_all);
    width: 40px;
    height: 40px;
    position: absolute;
    right: 4px;
    transition: all 100ms;
}

.delete{
    width: 25px;
    height: 30px;
    border: none;
    cursor: pointer;
    background-image: url(../imagens/remove.png);
    background-size: cover;
    background-size: 25px;
    background-repeat: no-repeat;
    background-color: transparent;
    position: absolute;
    left: 84%;
    transform: translateY(0.5rem);
    transition: all 100ms;
    z-index: 999;
}
.modify{
    width: 25px;
    height: 30px;
    border: none;
    cursor: pointer;
    background-image: url(../imagens/pen.png);
    background-size: cover;
    background-size: 25px;
    background-repeat: no-repeat;
    background-color: transparent;
    position: absolute;
    left: 72%;
    transform: translateY(0.5rem);
    transition: all 100ms;
    z-index: 999;
}
.delete:hover{
    background-image: url(../imagens/remove_filled.png);
    background-size: 26px;
}
.modify:hover{
    background-image: url(../imagens/pen_filled.png);
    background-size: 26px;
}