<!DOCTYPE html>
<html lang="en">
  <head>
    
    <title>
      Visualizar Produtos
    </title>
    <meta charset="UTF-8" />
    <meta http-equiv="refresh" content="60">
    <link rel="stylesheet" href="visualizarProd.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
  </head>
  <body>
    <div class="container mt-4">
      <br /> 
      <table class="table">
        <thead>
          <tr class="cabeca">
            <th class="c1">ID</th>
            <th class="c2">Nome </th>
            <th class="c3">Fornecedor</th>
            <th class="c4">Valor</th>
            <th class="c5">Quantidade</th>
          </tr>
        </thead>
        <tbody>
          <tr class="itens">
            <td class="i1">sexo1</td>
            <td class="i2">sexo2</td>
            <td class="i3">sexo3</td>
            <td class="i4">sexo4</std>
            <td class="i5">sexo5</td>
            <input class="delete" type="submit" value="" id=<%= Produto[i].Idprod%>
            <button class="modify" id=<%=Produto[i].Idprod%></button>
          </tr>
        </tbody>
      </table> 
    </div>
  </body>
</html>