<form action="/login/logar" method="post">

     <p>Email:</p>
    <input type="email" name="login_email">


    <p>Senha:</p>
    <input type="password" name="login_senha">
    
    
    <button type="submit">Logar</button>
</form>

