:root{
    --background: 180deg, #FFFFFF;
    --color_all: #FF984E;
    --text_color: #848484;
    --form_background: #FFFFFF;
    --border_color: none; 
    --switch_bg_color: #FFFFFF;
    --switch_bg_color_enabled: rgb(104, 104, 104);
    --switch_bg_color_disabled: #9c9c9c;
  }

  td{
    color: #848484; 
}

th, td{
    text-align: center;
    width: 44rem;
    height: 3rem;
    border: 2px solid var(--color_all);
}


cabeca{
    text-decoration: underline;
    border-collapse: collapse;
}

.corpo{
    overflow-y: auto;
    overflow-x: auto;
}

tbody{
    margin: 0px;
    padding: 0px;
    background: linear-gradient(var(--background));
    height: 495px;
}

body {
    margin: 0px;
    padding: 0px;
    background: linear-gradient(var(--background));
    height: 100vh;
    overflow: auto;
}

th{
    color: #FFFFFF;
    background-color: #FF984E;
    border-top: none;
}

.tb_final{
    border-top-right-radius: 8px;
    border-right: none;
}

.tb_ini{
    border-top-left-radius: 8px;
    border-left: none;
}

table{
    table-layout: auto;
    display: grid;
    border-collapse: collapse;
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.10));
    color: var(--text_color);
    width: 95%;
    height: 55ch;
    border-radius: 1rem;
    background: var(--form_background);
    margin: 20px;
    overflow: hidden;
}

*{
    font-size: 18px;
    font-family: "Poppins", sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
    background: linear-gradient(var(--background));
    height: 100vh;
    overflow: hidden;
}

.botao{
    cursor: pointer;
    background-color: #FF984E;
    height: 3rem;
    width: 20rem;
    border-radius: 44px;
}

.flex{
    display: flex;
}

.center{
    outline: none;
    margin-bottom: 5%;
    border: 1px solid var(--form);
    text-align: center;
    padding: 30px 26px;
    color: var(--text_color);
  }

.center h1{

    color: #FFFFFF;
  }

.botao_class h1{
    position: relative;
    top: 5px;
}

.botao_class{
    display: flex;
    gap: 50%;
}
.Carrinho{
    border-bottom: 1px;
    border-top-width: 0px;
    font-size: 30px;
    text-align: center;
    margin-left: 4rem;
    font-family: "Poppins", sans-serif;
}

.produto{
    table-layout: auto;
    text-align: left;
    border-collapse: collapse;
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.10));
    color: var(--text_color);
    width: 55%;
    height: 55ch;
    border-radius: 1rem;
    background: var(--form_background);
    margin: 20px;
}

.detalhes{
    color: #FFFFFF;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    margin-top: 99px;
    height: 2rem;
    background: #979797;
    cursor: pointer;
}

h3{
    padding-top: 8px;
    text-align: center;
}

.center h2{
    margin-left: 2rem;
}

.titulo{
    font-size: 30px;
}

.img_produto{
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.05));
   background-image: url(https://media.pichau.com.br/media/catalog/product/cache/2f958555330323e505eba7ce930bdf27/m/c/mcr-adh-rgb016.jpg);
   width: 100%;
   height: 50%;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: 0 -100px;
   border-radius: 1rem;
}