:root{
    --background: 180deg, #FFFFFF;
    --color_all: #FF984E;
    --text_color: #FFFFFF;
    --form_background: #FFFFFF;
    --border_color: none; 
    --switch_bg_color: #FFFFFF;
    --switch_bg_color_enabled: rgb(104, 104, 104);
    --switch_bg_color_disabled: #9c9c9c;
  }

td{
    color: #848484; 
}

th, td{
    text-align: center;
    width: 44rem;
    height: 3rem;
    border: 2px solid var(--color_all);
}

th{
    background-color: #FF984E;
    border-top: none;
}

.tb_final{
    border-top-right-radius: 8px;
    border-right: none;
}

.tb_ini{
    border-top-left-radius: 8px;
    border-left: none;
}

table{
    table-layout: auto;
    display: grid;
    border-collapse: collapse;
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.10));
    color: var(--text_color);
    width: 95%;
    height: 55ch;
    border-radius: 1rem;
    background: var(--form_background);
    margin: 20px;
}

*{
    font-size: 18px;
    font-family: "Poppins", sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
    background: linear-gradient(var(--background));
    height: 100vh;
    overflow: hidden;
}

.botao{
    cursor: pointer;
    background-color: #FF984E;
    height: 3rem;
    width: 20rem;
    border-radius: 44px;
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.10));
}

.center{
    outline: none;
    margin-bottom: 5%;
    border: 1px solid var(--form);
    text-align: center;
    padding: 30px 26px;
    color: var(--text_color);
  }

.center h1{

    color: var(--text_color);
  }

.botao_class h1{
    position: relative;
    top: 5px;
}

  .botao_class{
    display: flex;
    gap: 50%;
}
.Carrinho{
    border-bottom: 1px;
    border-top-width: 0px;
    font-size: 30px;
    text-align: center;
    margin-left: 4rem;
    font-family: "Poppins", sans-serif;
}