:root{
    --background: 180deg, #FFFFFF;
    --color_all: #FF984E;
    --text_color: #848484;
    --form_background: #FFFFFF;
    --border_color: none; 
    --switch_bg_color: #FFFFFF;
  }

#th, #td{
    text-align: center;
    width: 44rem;
    height: 3rem;
    border-top: 1px solid var(--color_all);
    border-bottom: 2px solid var(--color_all);
}

#table{
    table-layout: auto;
    display: grid;
    border-collapse: collapse;
    border: 2px solid var(--color_all);
    color: var(--text_color);
    width: 95%;
    height: 55ch;
    border-radius: 1rem;
    background: var(--form_background);
    margin: 20px;
}

*{
    font-size: 18px;
    font-family: "Poppins", sans-serif;
}

#body {
    margin: 0px;
    padding: 0px;
    background: linear-gradient(var(--background));
    height: 100vh;
    overflow: hidden;
}

.spaceAround{
    display: flex;
    justify-content: space-between;
    margin-left: 1rem;
    margin-right: 3rem;
}

.botao{ 
    display: flex;
    cursor: pointer;
    background-color: var(--color_all);
    height: 3rem;
    width: 20rem;
    border-radius: 44px;
    justify-content: space-around;
}

.center{
    outline: none;
    margin-bottom: 5%;
    border: 1px solid var(--form);
    text-align: center;
    padding: 30px 26px;
    color: var(--text_color);
  }

.center h1{
    color: white;
  }

.botao_class{
    display: flex;
    gap: 50%;
}

#cabeca{
    color: white;
}

#th{
    border-top: none;
    background-color: var(--color_all);
}

.prim{
    border-top-left-radius: 0.8rem;
}

.ult{
    border-top-right-radius: 0.8rem;
}