.contkkk{
    margin-top: 2rem;
}

.card_fundo{
    widows: 500px;
    position: absolute;
    right: 30%;
}

.astro_sla{
    position: absolute;
    left: 35%;
    transform: translate(30%, 16%);
    animation: astro 5s infinite;
    widows: 650px;
    height: 650px;
}


@keyframes astro{
    0% {transform: translate(30%, 16%);}
    50% {transform: translate(25%, 20%);}
    100% {transform: translate(30%, 16%);} 
}
